<section>
        <div class="container">
            <h4>Follow Me</h4>
            <a href="https://www.linkedin.com/in/$linkedin$/" target="_blank" title="LinkedIn">
                <i class="fab fa-linkedin"></i>
                </a>
            <a href="https://www.twitter.com/$twitter$" target="_blank" title="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://github.com/$github$" target="_blank" title="GitHub">
                <i class="fab fa-github"></i>
            </a>
        </div>
</section>